<header>
  <ul class="main-nav">
    <a href="#"
      ><img
        src="assets/logo-bichinhos.svg"
        alt="Logo-bichinhos"
        class="logo-link"
    /></a>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        (click)="scrollToSection('quem-somos')"
        class="nav-link"
        >Quem somos</a
      >
    </li>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        (click)="scrollToSection('projetos')"
        class="nav-link"
        >Nossos projetos</a
      >
    </li>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        class="nav-link"
        (click)="scrollToSection('depoimentos')"
        >Depoimentos</a
      >
    </li>
    <li class="nav-item">
      <button class="form-btn" (click)="openModal()">Faça parte</button>
    </li>
    <li class="nav-item"></li>
    <header-theme-toggle />
    <div class="menu-hamburguer-container">
      <img src="assets/menu-hamburguer.svg" alt="" />
    </div>
  </ul>
</header>
