<header>
  <ul class="main-nav">
    <a href="#"
      ><img
        src="assets/logo-bichinhos.svg"
        alt="Logo-bichinhos"
        class="logo-link"
    /></a>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        (click)="scrollToSection('quem-somos')"
        class="nav-link"
        >Quem somos</a
      >
    </li>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        (click)="scrollToSection('projetos')"
        class="nav-link"
        >Nossos projetos</a
      >
    </li>
    <li class="nav-item">
      <a
        href="javascript:void(0);"
        class="nav-link"
        (click)="scrollToSection('depoimentos')"
        >Depoimentos</a
      >
    </li>
    <li class="nav-item">
      <button class="form-btn" (click)="openModal()">Faça parte</button>
    </li>
    <!-- <ng-template
      class="form-container"
      cdkPortalOutlet
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isModalOpen"
    >
      <div class="form-content" (click)="$event.stopPropagation()">
        <div class="close-container">
          <button class="btn-close" (click)="closeModal()">
            <app-close-button color="var(--alt-dark-blue, var(--gray))" />
          </button>
        </div>
        <h1 class="form-title">JUNTE-SE A NÓS!</h1>
        <p class="form-description">
          Se você é um profissional de TI em transição de carreira ou um novato
          buscando fazer a diferença, queremos você na Bichinhos da TI. Venha
          ser um voluntário e ajude a construir projetos que impactam o futuro
          da tecnologia.
        </p>
        <input type="text" placeholder="Nome" class="form-input" />
        <input type="text" placeholder="Email" class="form-input" />
        <input type="text" placeholder="Telefone" class="form-input" />
        <input type="text" placeholder="LinkedIn" class="form-input" />
        <input type="text" placeholder="Área" class="form-input" />
        <button class="form-button">QUERO SER VOLUNTÁRIO</button>
      </div>
    </ng-template> -->
    <li class="nav-item"></li>
    <header-theme-toggle />
    <div class="menu-hamburguer-container">
      <img src="assets/menu-hamburguer.svg" alt="" />
    </div>
  </ul>
</header>
