<section id="projetos">
  <h1 class="title-section">Projetos que Fazem a Diferença</h1>
  <div class="container-projects">
    <div *ngFor="let container of containers" class="project-card">
      <h2 class="project-title">{{ container.title }}</h2>
      <div class="image-container">
        <img [src]="container.imagem" class="image-projects" alt="" />
      </div>
      <p class="project-description">{{ container.descricao }}</p>
    </div>
  </div>
  <app-section-divider
    color="#F76B00"
    style="margin-top: 64px"
  ></app-section-divider>
</section>
