<footer>
  <div class="container">
    <h5 class="title">Bichinhos da TI</h5>
    <ul class="links">
      <li *ngFor="let item of menuItems">
        <footer-link title="{{ item.title }}" href="{{ item.href }}" />
      </li>
    </ul>
    <span class="contactText">{{ contactText }}</span>
    <div class="socialNetworks">
      <div class="icons" *ngFor="let item of socialNetworks">
        <a target="_blank" href="{{ item.href }}"
          ><ng-template
            *ngComponentOutlet="item.icon; injector: createInjector()"
          ></ng-template
        ></a>
      </div>
    </div>
  </div>
</footer>
