footer {
  min-height: 442px;
  background-color: var(--dark-blue-2);
  padding: 64px 158px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: var(--gray);
  font-family: var(--title);
  font-size: 24px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 2px var(--gray-ai) solid;
  padding-bottom: 24px;
}

.contactText {
  color: var(--gray-ai);
  font-family: var(--text);
  font-size: 16px;
  font-weight: 600;
}

.socialNetworks {
  display: flex;
  gap: 24px;
  justify-content: end;
}

@media (max-width: 375px) {
  footer {
    padding: 64px 57px;
  }
}
