<section id="quem-somos">
  <div class="content">
    <div class="content-text">
      <h1 class="hero-title">
        Junte-se à Revolução Tecnológica com a Bichinhos da TI!
      </h1>
      <p class="hero-description">
        Transforme sua carreira, desenvolva novas habilidades e faça a diferença
        no mundo da tecnologia. Seja um voluntário e ajude a construir o futuro!
      </p>
      <button class="hero-button">Vem pra bichinhos da TI</button>
    </div>
    <div class="content-image">
      <img src="assets/Ellipse-25.svg" alt="" class="ellipse" />
      <div id="black"></div>
      <div id="dashed"></div>
      <div id="orange">
        <img src="assets/dog.png" alt="" />
      </div>
    </div>
  </div>
  <div class="sub-text">
    <p class="sub-text-paragraph">
      Na Bichinhos da TI, nosso objetivo é integrar profissionais em transição
      de carreira ao mercado de tecnologia, promovendo seu crescimento
      profissional e pessoal.
    </p>
  </div>
  <div class="line-container">
    <img src="assets/Ellipse-26.svg" alt="" class="mini-ellipse" />
    <img src="assets/Line-p.png" alt="linha esquerda azul" class="line-left" />
    <img src="assets/Line-g.png" alt="linha do meio azul" class="line-middle" />
    <img
      src="assets/Line-p.png"
      alt="linha da direita azul"
      class="line-right"
    />
    <img src="assets/Ellipse-26.svg" alt="" class="mini-ellipse-right" />
  </div>
</section>
