<div class="container">
  <div
    class="elipse left"
    [style]="{
      border: '3px solid ' + color(),
      '--shadow-color': color(),
    }"
  ></div>
  <div
    class="lesser-line left"
    [style]="{
      backgroundColor: color(),
      '--shadow-color': color(),
    }"
  ></div>
  <div
    class="major-line"
    [style]="{
      backgroundColor: color(),
      '--shadow-color': color(),
    }"
  ></div>
  <div
    class="elipse right"
    [style]="{
      border: '3px solid ' + color(),
      '--shadow-color': color(),
    }"
  ></div>
  <div
    class="lesser-line right"
    [style]="{
      backgroundColor: color(),
      '--shadow-color': color(),
    }"
  ></div>
</div>
