<header>
  <ul class="main-nav">
    <a href="#"
      ><img
        src="assets/logo-bichinhos.svg"
        alt="Logo-bichinhos"
        class="logo-link"
    /></a>
    <li class="nav-item"><a href="#" class="nav-link">Quem somos</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Nossos projetos</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Depoimentos</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Faça parte</a></li>
    <li class="nav-item"></li>
    <menu-theme-toggle></menu-theme-toggle>
  </ul>
</header>
