@import "@angular/cdk/overlay-prebuilt.css";

.container {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.dark {
  --blue-duck: #33c4cb;
  --dark-blue: #2b3559;
  --dark-blue-1: #050a1a;
  --dark-blue-2: #030612;
  --gray: #f5f9fc;
  --gray-ai: #d2e3f3;
  --orange-frog: #f76b00;
  --yellow-cat: #f7bc03;

  --title: "Krona One", sans-serif;
  --text: "Jura", sans-serif;
}

.light {
  --blue-duck: #33c4cb;
  --dark-blue: #f7bc03;
  --dark-blue-1: #f5f9fc;
  --dark-blue-2: #d2e3f3;
  --gray: #030612;
  --gray-ai: #050a1a;
  --orange-frog: #f76b00;
  --yellow-cat: #2b3559;

  --title: "Krona One", sans-serif;
  --text: "Jura", sans-serif;

  --alt-blue-duck: #33c4cb;
  --alt-dark-blue: #2b3559;
  --alt-dark-blue-1: #050a1a;
  --alt-dark-blue-2: #030612;
  --alt-gray: #f5f9fc;
  --alt-gray-ai: #d2e3f3;
  --alt-orange-frog: #f76b00;
  --alt-yellow-cat: #f7bc03;
}
