* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("/assets/imagem-fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

.dark {
  --blue-duck: #33c4cb;
  --dark-blue: #2b3559;
  --dark-blue-1: #050a1a;
  --dark-blue-2: #030612;
  --gray: #f5f9fc;
  --gray-ai: #d2e3f3;
  --orange-frog: #f76b00;
  --yellow-cat: #f7bc03;

  --title: "Krona One", sans-serif;
  --text: "Jura", sans-serif;
}

.main {
  width: 100vw;
}
