<div class="form-container" [ngClass]="{ active: isOpen }">
  <div class="form-content" (click)="$event.stopPropagation()">
    <div class="close-container">
      <button class="btn-close" (click)="closeOverlay()">
        <app-close-button color="var(--alt-dark-blue, var(--gray))" />
      </button>
    </div>
    <h1 class="form-title">JUNTE-SE A NÓS!</h1>
    <p class="form-description">
      Se você é um profissional de TI em transição de carreira ou um novato
      buscando fazer a diferença, queremos você na Bichinhos da TI. Venha ser um
      voluntário e ajude a construir projetos que impactam o futuro da
      tecnologia.
    </p>
    <input type="text" placeholder="Nome" class="form-input" />
    <input type="text" placeholder="Email" class="form-input" />
    <input type="text" placeholder="Telefone" class="form-input" />
    <input type="text" placeholder="LinkedIn" class="form-input" />
    <input type="text" placeholder="Área" class="form-input" />
    <button class="form-button">QUERO SER VOLUNTÁRIO</button>
  </div>
</div>
