.form-container {
  position: relative;
  max-width: 558px;
  min-height: 719px;
  background-color: var(--dark-blue-1, #050a1a);
  border-radius: 16px;
  border: 3px solid var(--blue-duck, #33c4cb);
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
  scale: 0.8;
  opacity: 0.8;
}

.active {
  scale: 1;
  opacity: 1;
}

.form-content {
  background-color: var(--dark-blue-1);
  padding: 20px;
  border-radius: 8px;
  max-width: 494px;
  min-height: 655px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.btn-close {
  background: none;
  border: none;
  cursor: pointer;
}

.form-title {
  font-family: var(--title, "Krona One", sans-serif);
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  text-align: center;
  color: var(--orange-frog, #f76b00);
  margin-bottom: 24px;
}

.form-description {
  max-width: 494px;
  min-height: 88px;
  font-family: var(--text, "Jura", sans-serif);
  font-weight: 500;
  line-height: 22.4px;
  color: var(--gray, #f5f9fc);
}

.form-input {
  max-width: 494px;
  min-height: 54px;
  border-radius: 8px;
  border: 2px solid var(--gray, #f5f9fc);
  padding: 16px;
  gap: 8px;
  background-color: transparent;
  margin-top: 16px;
  color: var(--gray);
}

.form-input::placeholder {
  font-family: var(--text, "Jura", sans-serif);
  font-weight: 700;
  line-height: 22.4px;
  color: var(--gray, #f5f9fc);
}

.form-button {
  max-width: 494px;
  max-height: 53px;
  height: 100%;
  background-color: var(--orange-frog, #f76b00);
  border: none;
  border-radius: 16px;
  padding: 12px 48px 12px 48px;
  display: flex;
  gap: 10px;
  box-shadow: 0px 2px 20px 0px #f76b00;
  justify-content: center;
  font-family: var(--title, "Krona One", sans-serif);
  color: var(--Gray, #f5f9fc);
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  margin-top: 24px;
  cursor: pointer;
  white-space: nowrap;
}

.form-button:disabled {
  cursor: progress;
}

@keyframes fade {
  0% {
    scale: 0.8;
  }

  50% {
    scale: 0.9;
  }

  100% {
    scale: 1;
  }
}
