.main {
  position: relative;
  width: 100vw;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/imagem-fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
