section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 770px;
  background-color: var(--dark-blue-1);
  padding: 64px 0;
  gap: 64px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  justify-items: center;
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Krona One", sans-serif;
}

.title {
  color: var(--yellow-cat);
  font-size: 32px;
  max-width: 538px;
  text-align: center;
}

.advantage {
  display: flex;
  border: 3px solid var(--yellow-cat);
  border-radius: 32px;
  min-height: 119px;
  max-width: 538px;
  width: 100%;
  padding: 16px;
  transition: opacity 0.4s ease-in-out, scale 0.4s ease-in-out;
  opacity: 0.8;
  scale: 0.8;
}

.advantage:hover {
  opacity: 1;
  scale: 1;
}

.advantage span {
  color: var(--alt-dark-blue, var(--gray));
  font-size: 24px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .title {
    font-size: 24px;
    text-align: start;
  }

  .advantage span {
    font-size: 16px;
    text-align: start;
  }

  .content {
    padding: 0 56px;
  }

  img {
    width: 261px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    grid-template-columns: auto;
  }
}
